/obj/Debug/net8.0/pupupu.csproj.AssemblyReference.cache
/obj/rider.project.model.nuget.info
/obj/Debug/net8.0/pupupu.AssemblyInfo.cs
/obj/Debug/new8.0/pupupu.AssemblyInfoInputs.cache
[Bb]in/
[Oo]bj/
[Ll]og/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

